@{
    ViewData["Title"] = "API文档";
}
<h1>山寨智能家居系统WebAPI说明文档</h1>
<h2>API</h2>
<h3>API列表</h3>
<h4><a href="/api/login">登录:writebug.site/api/login</a></h4>
<h4><a href="/api/registe">注册:writebug.site/api/registe</a></h4>
<h4><a href="/api/update">更新用户信息:writebug.site/api/update</a></h4>
<h4><a href="/api/update">控制设备:writebug.site/api/update</a></h4>

<h2>错误代码 Error_code</h2>
<h3>用户信息相关</h3>
<h4>0000 ：操作成功</h4>
<h4>0001 ：错误情况未知</h4>
<h4>0002 ：用户名含有危险字符</h4>
<h4>0003 ：密码含有危险字符</h4>
<h4>0004 ：用户名不存在</h4>
<h4>0005 ：用户名或密码错误</h4>
<h4>0006 ：邮箱格式不正确</h4>
<h4>0007 ：手机号码格式不正确</h4>
<h4>0008 ：用户名已被注册</h4>
<h3>手机命令相关</h3>
<h4>1000 ：操作成功</h4>
<h4>1001 ：错误情况未知</h4>
<h4>1002 ：用户名含有危险字符</h4>
<h4>1003 ：密码含有危险字符</h4>
<h4>1004 ：用户名不存在</h4>
<h4>1005 ：用户名或密码错误</h4>
<h4>1006 ：邮箱格式不正确</h4>
<h4>1007 ：手机号码格式不正确</h4>
<h4>1008 ：用户名已被注册</h4>

