@{
    ViewData["Title"] = "联系方式";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    雾霾大学<br />
    贝克街37号<br />
    <abbr title="Phone">P:123456678</abbr>
</address>

<address>
    <strong>Support:</strong> 无<br />
    <strong>Marketing:</strong> 无</a>
</address>
