@{
    ViewData["Title"] = "";
}


    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="banner">

        <img width="100%" height="100%" src="~/images/banner.jpg" width="1024" height="512" />
    </div>

    <div id="about" class="banner-bottom">
        <div class="container">
            <h3>欢迎使用安家智能锁！</h3>
            <p class="ex">Welcome to use AnJia Intelligent lock!</p>
            <div class="banner-bottom-grids">
                <div class="col-md-4 banner-bottom-grid">
                    <div class="banner-bottom-grid-rel">
                        <p>商业性.</p>
                        <div class="banner-bottom-grid-rel-pos">
                            <p>
                                目前我国锁具行业的总产值达600亿元以上，其中智能门锁行业总产值在2016年就已超过60亿元，
                                但与此同时中国智能锁普及率仅2%，远远低于欧美地区的50%和韩国地区的90%。
                                安家智能锁具有多种功能，且用户可根据所需功能进行“私人定制”
                            </p>

                        </div>

                    </div>
                </div>
                <div class="col-md-4 banner-bottom-grid">
                    <div class="banner-bottom-grid-rel">
                        <p>安全性</p>
                        <div class="banner-bottom-grid-rel-pos">
                            <p>
                                在APP方面，我们使用多重手段保护APP使用的安全性。
                                在锁具方面，我们提供不同价位不同安全等级的锁芯选择，
                                用户可根据自己的需求选择所需锁芯与功能。
                                反复出现在门锁前非白名单人员记录及提醒，保留每次开锁人实时照片，尽可能保证使用安全。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 banner-bottom-grid">
                    <div class="banner-bottom-grid-rel">
                        <p>公益性</p>
                        <div class="banner-bottom-grid-rel-pos">
                            <p>
                                针对残障人士，我们也提供了不同选择。
                                例如行动不便者，可选择APP开锁，没有高低移动的障碍；
                                聋哑人士，可选择人脸识别开锁，方便快捷；视力障碍人士，可选择语音开锁，开锁不再成为困难。
                                
                            </p>

                        </div>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <div id="video" class="banner-bottom">
        <div class="container">
            <h3>介绍视频</h3>
            <p class="ex">注：视频大小为15MB</p>
            <video width="100%" height="100%" controls="controls">
                <source src="~/Video/AnJia.mp4" type="video/mp4">

                您的浏览器不支持Video标签。
            </video>
        </div>
    </div>

    <div id="team" class="banner-bottom">
        <div class="container">
            <h3>关于团队</h3>
            <p class="ex">About Team</p>
            <div class="banner-bottom-grids">
                <div class="col-md-4 banner-bottom-grid">
                    <div class="banner-bottom-grid-rel">
         
                        <div class="banner-bottom-grid-rel-pos">
                        </div>

                    </div>
                </div>
                <div class="col-md-12 banner-bottom-grid">
                    <div class="banner-bottom-grid-rel">
                        <p>团队优势</p>
                        <div class="banner-bottom-grid-rel-pos">
                            <p>
                                安家智联团队由软件工程专业与商学专业学生组成，其中，软件工程专业学生都具有对物联网方面的浓厚兴趣，并已经完成了C、C++等语言以及Android移动开发、CAD 3D建模、PHP、Photoshop、Premiere等知识的学习，并具备较强自主学习及动手制作能力。商学院学生已经完成了基础国际贸易与会计财务方面知识的学习，对项目发展市场有很好的感知与把控能力。
                                团队成员均具有较好的创新创业意识，较强动手能力，并愿意为了一个目标不断刻苦努力奋斗。

                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 banner-bottom-grid">
                    <div class="banner-bottom-grid-rel">

                        <div class="banner-bottom-grid-rel-pos">
                        </div>

                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <div class="gallery" id="gallery">
        <div class="container">
            <h3>照片墙</h3>
            <p class="ex">Photo Wall</p>
            <div class="gallery-grids">
                <div class="gallery-grid">
                    <div class="gallery1">
                        <a href="~/images/22.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
                            <img src="~/images/22.jpg" alt=" " class="img-responsive">
                            <div class="textbox">
                               
                            </div>
                        </a>
                    </div>
                    <div class="gallery1">
                        <a href="images/14.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                            <img src="images/14.jpg" alt=" " class="img-responsive">
                            <div class="textbox">
                           
                            </div>
                        </a>
                    </div>
                    <div class="gallery1">
                        <a href="~/images/15.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                            <img src="~/images/15.jpg" alt=" " class="img-responsive">
                            <div class="textbox">

                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-grid">
                    <div class="gallery1">
                        <a href="~/images/16.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                            <img src="~/images/16.jpg" alt=" " class="img-responsive">
                            <div class="textbox">
       
                            </div>
                        </a>
                    </div>
                    <div class="gallery1">
                        <a href="~/images/17.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                            <img src="~/images/17.jpg" alt=" " class="img-responsive">
                            <div class="textbox">

                            </div>
                        </a>
                    </div>
                    <div class="gallery1">
                        <a href="~/images/18.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                            <img src="~/images/18.jpg" alt=" " class="img-responsive">
                            <div class="textbox">

                            </div>
                        </a>
                    </div>
          
                </div>
                <div class="gallery-grid">
                    <div class="gallery1">
                        <a href="~/images/24.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                            <img src="~/images/24.jpg" alt=" " class="img-responsive">
                            <div class="textbox">
                            
                            </div>
                        </a>
                    </div>
                    <div class="gallery1">
                        <a href="~/images/21.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                            <img src="~/images/21.jpg" alt=" " class="img-responsive">
                            <div class="textbox">
                                <h4 class="sport"></h4>
                            </div>
                        </a>
                    </div>
                    <div class="gallery1">
                        <a href="~/images/23.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                            <img src="~/images/23.jpg" alt=" " class="img-responsive">
                            <div class="textbox">
                                <h4></h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>



